@font-face {
	font-family: 'Oswald';
	src: url('/assets/fonts/Oswald/Oswald-Medium.ttf') format('ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('/assets/fonts/Roboto/Roboto-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

:root {
	--bg: #202124;
	--fg: white;
}

html {
	min-width: 300px;
	min-height: 100px;
	overflow-y: auto;
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 20px;

	display: flex;
	gap: 1em;
	flex-direction: column;
}

#heading {
	#menu-bar {
		position: absolute;
		width: 100%;
		display: flex;
		justify-content: space-between;

		.github-icon {
			width: 24px;

			a {
				display: block;
				aspect-ratio: 1/1;
			}

			img {
				aspect-ratio: 1 / 1;
				filter: invert(1);
			}
		}

		.icon-button {
			aspect-ratio: 1/1;
			appearance: none;
			background-color: transparent;
			border: 0;
			cursor: pointer;

			color: white;
		}
	}

	h1 {
		font-size: 200%;
		text-align: center;
		font-family: 'Oswald', sans-serif;
		line-height: 1;
		margin-block: .25em;
		user-select: none;
	}

	hr {
		border-color: gray;
		margin-block-start: .25em;
	}
}

#content {
	margin-inline: .5em;
	margin-block-end: .5em;
	display: flex;
	flex-direction: column;
	gap: .5em;

	.data-display-container {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.data-display-label-container {
			display: flex;

			.data-display-label {
				font-weight: bolder;
			}

			.data-display-copy-button {
				background-color: #1a1a1a;
				aspect-ratio: 1 / 1;
				appearance: none;
				border: 0;
				cursor: pointer;

				img {
					width: 20px;
					filter: invert(1);
				}
			}
		}

		.data-display {
			font-family: monospace;
			user-select: all;
			overflow-x: auto;
			scrollbar-width: thin;
		}
	}
}
